
@font-face {
  font-family: 'AmazingGrotesk-Ultra';
  src: url('AmazingGrotesk-Ultra.eot?#iefix') format('embedded-opentype'),  url('AmazingGrotesk-Ultra.woff') format('woff'), url('AmazingGrotesk-Ultra.ttf')  format('truetype'), url('AmazingGrotesk-Ultra.svg#AmazingGrotesk-Ultra') format('svg');
  font-weight: normal;
  font-style: normal;
}
