body{
  background: url(../img/backgroundsite.png);
}
form input:focus, form textarea:focus {outline: none;}
.button,
.buble,
.bublenav,
.nav li {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.nl {display: block;}
.center {text-align: center;}
a:hover,
a:active,
a:visited,
a:focus {
  color: #fff;
  text-decoration: none;
}
.buble,
.bublelg,
.bublenav,
.IPv6 ul span:before,
.IPv6 ul span:after {
  position: absolute;
  border-radius: 50%;
}
.IPv6 ul span:before,
.IPv6 ul span:after {
  content: '';
  display: block;
}
.buble,
.bublenav {
  background-color: #d40e0e;

}
.buble {
  border-top: 1px solid #f95858;
  border-bottom: 1px solid #f95858;
}
h1,h2 {
  color: #fff;
  font: 600 54px 'AGroteskU';
  margin-top: -34px;
}
p, .IPv6 li {font-family: AGroteskD;}
.header {
  min-height: 769px;
  width: 100%;
  background: url(../img/bg-header.png) no-repeat center top;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -ms-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.logo {
  display: block;
  background: #282828 url(../img/logo.png) no-repeat -25px -6px;
  max-width: 220px;
  height: 52px;
  margin-top: 12px;
  border-radius: 15px;
  position: relative;
}
.bublelg,
.IPv6 ul span:before,
.IPv6 ul span:after {background-color: #282828;}
.bublelg:nth-child(1) {
  width: 19px;
  height: 19px;
  bottom: -19px;
  right: -13px;
}
.bublelg:nth-child(2) {
  width: 7px;
  height: 7px;
  top: -5px;
  right: -10px;
}
.bublelg:nth-child(3) {
  width: 7px;
  height: 7px;
  bottom: -14px;
  right: 14px;
}
.bublelg:nth-child(4) {
  width: 13px;
  height: 13px;
  bottom: 9px;
  left: -15px;
}
.bublelg:nth-child(5) {
  width: 9px;
  height: 9px;
  bottom: -12px;
  left: -10px;
}
.nav {margin-top: 17px;font-size: 0;}
.nav li {
  background: #d60e0e;
  display: inline-block;
  width: 130px;
  height: 43px;
  margin-left: 30px;
  border-bottom: 2px solid #eb8787;
  border-top: 1px solid #eb8787;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
}
.nav li:hover {background-color: #f71313;}
li a{
  font: 600 16px 'AGroteskU';
  display: block;
  padding: 11px 0 10px 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
li:hover .bublenav {background-color: #f71313;}
.bublenav {border-bottom: 2px;}
.bublenav:nth-child(2) {
  width: 19px;
  height: 19px;
  left: -7px;
  top: -6px;
}
.bublenav:nth-child(3) {
  width: 11px;
  height: 11px;
  left: -5px;
  top: 13px;
}
.bublenav:nth-child(4) {
  width: 13px;
  height: 13px;
  right: -5px;
  top: -5px;
}
.bublenav:nth-child(5) {
  width: 14px;
  height: 14px;
  right: -5px;
  bottom: -5px;
}
.bublenav:nth-child(6) {
  width: 10px;
  height: 10px;
  right: 7px;
  bottom: -4px;
}
.tp {margin-top: 40px;}
.bg {
  float: right;
  margin-top: 20px; 
  margin-right: 20px;
}
.bg .line {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin-top: 5px;
  border-radius: 2px;
}
.wrapper {
  max-width: 700px;
  margin: auto;
  background-color: #000;
  color: #fff;
  padding: 42px;
  position: relative;
}
.wrapper p {font: 400 20px/21px AGroteskD;}
.button {
  padding: 15px 20px;
  display: block;
  margin: 60px auto;
  max-width: 280px;
  font: 500 30px AGroteskD;
  color: #fff;
  background-color: #d40e0e;
  border-radius: 15px;
  text-align: center;
  border-top: 2px solid #f95858;
  border-bottom: 2px solid #f95858;
  position: relative;
}
.button:hover {background-color: #f71313;}
.buble:nth-child(1) {
  left: -40px;
  top: 50%;
  width: 20px;
  height: 20px;
}
.buble:nth-child(2) {
  right: -15px;
  bottom: -20px;
  width: 20px;
  height: 20px;
}
.buble:nth-child(3) {
  left: 94%;
  bottom: -30px;
  width: 13px;
  height: 13px;
}
.buble:nth-child(4) {
  left: -15px;
  bottom: -20px;
  width: 9px;
  height: 9px;
}
.buble:nth-child(5) {
  right: -15px;
  top: -15px;
  width: 9px;
  height: 9px;
}
.button:hover .buble,
.nav a:hover .bublenav {background-color: #f71313;}
.img3g~p {
  margin-top: 25px;
  margin-bottom: 50px;
}
.img3g {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: auto;
}
.col-md-3:nth-child(1) .img3g {background: #282828 url(../img/roket.png) no-repeat center center;}
.col-md-3:nth-child(2) .img3g {background: #282828 url(../img/tbl.png) no-repeat 65% 50%;}
.col-md-3:nth-child(3) .img3g {background: #282828 url(../img/clock.png) no-repeat center center;}
.col-md-3:nth-child(4) .img3g {background: #282828 url(../img/allday.png) no-repeat center center;}
.IPv6 {
  background: url(../img/bgIpv6.png) no-repeat center top;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -ms-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  width: 100%;
  min-height: 1212px;
  padding-top: 280px;
  padding-bottom: 200px !important;
  margin-bottom: 60px;
  margin-top: -68px;
}
.IPv6 h2 {
  color: #000;
  font-size: 44px;
  margin-bottom: 35px;
  padding-top: 60px;
}
.IPv6 span {
  color: #d10e0e;
}

.IPv6 ul {
  text-align: center;
  padding: 0;
}
.IPv6 ul li {
  margin-top: 45px;
  list-style-type: none;
  padding-left: 20px;
  text-align: left;
  position: relative;
}
.IPv6 ul span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d10e0e;
  position: absolute;
  left: -30px;
  top: calc(50% - 10px);
}
.IPv6 ul span:before {
  width: 10px;
  height: 10px;
  top: -12px;
  left: -2px;
}
.IPv6 ul span:after {
  width: 7px;
  height: 7px;
  top: -3px;
  right: -10px;
}
.price {
  text-align: center;
  margin-top: -90px;
}
.wrap {
  border: 1px solid #000;
  margin: auto;
  margin-bottom: 20px;
  max-width: 370px;
}
.pad {padding: 0 12px;}
.wrap ul li {
  list-style-type: none;
  text-align: left;
  font: 20px AGroteskD;
  margin-bottom: 20px;
}
.wrap li span {font: 20px AGroteskU;}
.wrap p {display: inline-block;}
.wrap p:nth-child(1) {
  font: 100 36px AGroteskU;
  vertical-align: middle;
  padding-top: 18px;
  padding-bottom: 10px;
}
.wrap p:nth-child(2) {
  vertical-align: middle;
  font: 20px AGroteskU;
  margin-left: 10px;
  padding-top: 10px;
  line-height: 19px;
}
.wrap p:nth-child(2) span {
  width: 86px;
  display: block;
  border-bottom: 2px solid #000;
  margin: auto;
  line-height: 19px;
}
.wrap h3 {
  margin-bottom: 30px !important;
  font: 50px AGroteskU;
}
.price .pad:nth-child(1) .wrap h3 {
  margin: 0 auto;
  padding: 20px 0;
  background-color: #282828;
  color: #fff;
}
.price .pad:nth-child(2) .wrap h3 {
  margin: 0 auto;
  padding: 20px 0;
  background-color: #ffd700;
  color: #fff;
}
.price .pad:nth-child(3) .wrap h3 {
  margin: 0 auto;
  padding: 20px 0;
  background-color: #d40e0e;
  color: #fff;
}
.wrap li:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffd700;
  display: block;
  position: relative;
  top: 15px;
  left: -20px;
}
.btn {
  max-width: 90%;
  margin: auto;
}
.pad:nth-child(1) .btn .button,
.pad:nth-child(1) .btn .buble {
  background-color: #282828;
  border-top: 2px solid #616161;
  border-bottom: 2px solid #616161;
}
.pad:nth-child(2) .btn .button,
.pad:nth-child(2) .btn .buble {
  background-color: #ffd700;
  border-top: 2px solid #fcf4cd;
  border-bottom: 2px solid #fcf4cd;
}
.pad .button:hover,
.pad .button:hover .buble {background-color: #f71313 !important;}
.faq {
  background: url(../img/faq.png) no-repeat center top;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -ms-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  padding-bottom: 196px;
  padding-top: 280px;
}
.faq h2 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 77px;
  text-transform: uppercase;
}
.faq h3 {
  color: #ffdb00;
  font: 20px Myriad;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 18px;
  margin-bottom: 18px;
}
.faq p {
  color: #fff;
  margin-bottom: 32px;
}
.faq p span {
  display: block;
  padding-top: 24px;
}
form {padding-right: 30px;}
form input, form textarea {
  width: 100%;
  padding: 5px 15px;
  border: 2px dashed #282828;
  border-radius: 10px;
  font: 18px AGroteskD;
  margin-top: 20px;
  background-color: transparent;
}
.question p {font: 25px AGroteskD;}
.wra {
  padding: 35px 40px 65px;
  background-color: #ffcb00;
  border-radius: 17px;
  position: relative;
  max-width: 90%;
  margin: auto;
}
.yt {padding-top: 60px;}
.wra p span:nth-child(1) {margin-top: 44px;background: url(../img/icq.png) no-repeat 20px center;}
.wra p span:nth-child(2) {background: url(../img/skype.png) no-repeat 20px center;}
.wra p span:nth-child(3) {background: url(../img/mail.png) no-repeat 20px center;}
.wra span {
  display: block;
  padding-left: 66px;
  margin-top: 20px;
}
.bbl {
  position: absolute;
  border-radius: 50%;
  background-color: #ffcb00;
}
.wra .bbl:nth-child(3) {
  top: -24px;
  left: -28px;
  width: 70px;
  height: 70px;
}
.wra .bbl:nth-child(4) {
  top: -10px;
  left: 34px;
  width: 43px;
  height: 43px;
}
.wra .bbl:nth-child(5) {
  bottom: -25px;
  right: -24px;
  width: 70px;
  height: 70px;
}
.wra .bbl:nth-child(6) {
  bottom: -14px;
  right: 44px;
  width: 43px;
  height: 43px;
}
.haq {
  margin-top: 44px;
  font: 15px AGroteskD !important;
}
.bottom {
  background: url(../img/bottom.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 309px;
  padding-top: 220px;
}
.bottom p {font: 15px AGroteskD;}  
.bottom p span {display: block;}
.bottom img:first-child {margin-left: 0;}
.bottom img {padding: 3px;}
.bottom .col-md-2 {text-align: center;}
.bottom .col-md-2 img {opacity: .15;}
.bottom .col-md-2 img:hover {opacity: 1;}
.wind {
  background-color: #fff;
  position: fixed;
  top: 0px;
  border-radius: 25px;
  max-width: 650px;
  z-index: 6;
}
.ovr {overflow: hidden;}
.ovrs {overflow: auto;}
.wind .blov p{
  text-align: center;
  font: 40px AGroteskU;
  color: #fff;
  padding: 10px 25px;
}
.blov {
  background: #000;
  background: linear-gradient(180deg, #353535, #020202);
  -webkit-clip-path: polygon(10% 2%,35% 0,90% 0%,85% 100%,15% 92%);
     -moz-clip-path: polygon(10% 2%,35% 0,90% 0%,85% 100%,15% 92%);
      -ms-clip-path: polygon(10% 2%,35% 0,90% 0%,85% 100%,15% 92%);
       -o-clip-path: polygon(10% 2%,35% 0,90% 0%,85% 100%,15% 92%);
          clip-path: polygon(10% 2%,35% 0,90% 0%,85% 100%,15% 92%);        
}
.wind form {
  padding: 40px 40px 0px 40px;
}
.blck {
  background-color: #000;
  opacity: .5;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.wind form .button {max-width: 100%;margin: 30px 30px 50px 30px;}
.wind form input {margin: 10px auto;}
.wind form input::-webkit-input-placeholder { color: #373737; }
.wind form input,
.wind form select {
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 10px;
  padding: 10px 15px;
  font: 20px AGroteskD;
  color: #373737 !important;
}
.wind form p {
    font: 20px AGroteskD;
  color: #373737 !important;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
}
.close img {
  width: 50px;
  height: 50px;
}
.popup {display: none;}



@media (max-width: 380px) {
  .wind form {
    padding: 5px;
  }
  .wind .blov p {
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  .bg {margin-top: 15px;}
}
@media (max-width: 500px) {
  .wrapper {
    padding: 60px 10px 30px 10px;
    -webkit-clip-path: polygon(0 0,100% 7%, 97% 90%,1% 100%);
    -moz-clip-path: polygon(0 0,100% 7%, 97% 90%,1% 100%);
    -ms-clip-path: polygon(0 0,100% 7%, 97% 90%,1% 100%);
    -o-clip-path: polygon(0 0,100% 7%, 97% 90%,1% 100%);
    clip-path: polygon(0 0,100% 7%, 97% 90%,1% 100%);
  }
  .wrapper p span {display: none;}
  .wr {padding: 0;}
  .IPv6 {padding-top: 150px !important;}
  .IPv6 h2 {padding-top: 120px;}
  .question {
    margin-top: -150px;
  }
  .wra {width: 100%;padding: 35px 20px 65px;}
  .wra span {
    margin-left: -30px;
    font: 15px AGroteskD;
    min-height: 30px;
    padding-top: 6px;
  }
  .yt {
    padding-top: 60px;
    text-align: center;
    margin: auto;
  }
  form {padding-right: 0;}
}
@media (max-width: 766px){
  .IPv6>div {text-align: center;}
  .IPv6 ul {text-align: center;}
  .IPv6 ul span {left: -20px;}
}
@media (max-width: 991px) {
  .bg {display: block;}
  .nav {display: none;}
  .nav li {margin: 20px auto 0;}
  .IPv6 {padding: 20px;}
  .bottom p {text-align: center;}
  .cntimg {text-align: center;}
}
@media (min-width: 500px) {
  .wrapper {
    -webkit-clip-path: polygon(0 0,97% 6%, 97% 28%,96% 28%, 100% 92%, 30px 100%, 0 25%);
    -moz-clip-path: polygon(0 0,97% 6%, 97% 28%,96% 28%, 100% 92%, 30px 100%, 0 25%);
    -ms-clip-path: polygon(0 0,97% 6%, 97% 28%,96% 28%, 100% 92%, 30px 100%, 0 25%);
    -o-clip-path: polygon(0 0,97% 6%, 97% 28%,96% 28%, 100% 92%, 30px 100%, 0 25%);
    clip-path: polygon(0 0,97% 6%, 97% 28%,96% 28%, 100% 92%, 30px 100%, 0 25%);
  }
}
@media (min-width: 768px) and (max-width:786px) {
.IPv6 .container {width: 731px;}
}
@media (min-width: 992px) {
  .bg {display: none;}
  .nav {display: block !important;}
}
@media (min-width: 500px) and (max-width: 766px) {
  .wrapper h1 {margin-top: 0;}
  .IPv6 {padding-top: 150px;}
}
@media (max-width: 767px) {
  .nav li {display: block;}
  .nav {margin-top: 40px;}
  .yt {padding-top: 0;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .nav {margin: 30px auto;}
  .nav li {margin-left: 25px;}
  .IPv6 {padding-top: 180px;}
  .wra {width: 100%;padding: 35px 20px 65px;}
  .wra span {
    margin-left: -30px;
    font: 15px AGroteskD;
    min-height: 30px;
    padding-top: 6px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .IPv6 {
    padding-top: 230px;
  }
}
@media (min-width: 1200px) {
  .nav li:first-child {margin-left: 0;}
}